/* GLOBAL CSS SPREADSHEET */
/* 
 * We are currently using css modules.
 * Please refer to https://github.com/css-modules/css-modules for more information
 */

:global(*) {
  box-sizing: border-box;
}

:global(html) {
  height: 100%;
}

:global(body) {
  height: 100%;
  margin: 0;
}

:global(.app-body) {
  height: 100%;
}

.app {
  height: 100%;
  padding-top: 40px; /* deal with header's 40px */
}

.body {
  height: 100%;
  padding: 10px;
  background-color: #555;
}
