/* GLOBAL CSS SPREADSHEET */
/* 
 * We are currently using css modules.
 * Please refer to https://github.com/css-modules/css-modules for more information
 */

:global(html) {
  height: 100%;
}

.body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.backgroundImage {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {

}
