:global(html) {
  height: 100%;
}

.body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.backgroundImage {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  position: absolute;
  left: 90px;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
}
