.leftbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 90px;
  height: 100%;
}

.item {
  height: 50px;
  width: 100%;
}

.itemText {
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
